.warning-btn-danger {
    font-family: Verdana, Tahoma, sans-serif;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, .7), 0 0 0 0 rgba(255, 109, 74, .7);
    }
    40% {
        box-shadow: 0 0 0 10px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, .7);
    }
    80% {
        box-shadow: 0 0 0 10px rgba(255, 109, 74, 0), 0 0 0 13px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 13px rgba(255, 109, 74, 0);
    }
}

.lable-color {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}
.position-child {
    display: none;
}