<br>
<div class="container-fluid">
    <form [formGroup]="formNotification">
        <div class="row" *ngIf="hideForm">
            <div class="col-md-12 position-parent">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-tags"> </i>
                            <strong> Cung cấp thông tin sự cố</strong>
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group" formArrayName="types">
                            <label for="type">chọn sự cố</label>
                            {{apartmentMalfunction?.types.length}}
                            <select class="form-control custom-select">
                                <option selected>
                                    {{ apartmentMalfunction?.types }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group hide-input">
                            <label for="name">Tên</label>
                            <input type="text" class="form-control" formControlName="username"
                                value="{{apartmentMalfunction?.username}}">
                        </div>
                        <div class="form-group hide-input">
                            <label for="phone">Số điện thoại</label>
                            <input type="number" class="form-control" formControlName="phone"
                                value="{{apartmentMalfunction?.phone}}">
                        </div>
                        <div class="form-group hide-input">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" formControlName="address"
                                value="{{apartmentMalfunction?.address}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả sự cố</label>
                            <textarea class="form-control" rows="4" formControlName="description">
                                                {{apartmentMalfunction?.description}}
                                            </textarea>
                        </div>
                        <p>
                            Form Status: {{ formNotification.status }}
                            value {{formNotification.value | json}}
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <div class="row">
            <br><br>
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-bullhorn bullhorn-color"> </i>
                            <strong> Danh sách sự cố</strong>
                        </h3>
                        <!--notification-->
                        <div class="alert alert-success position-child float-right" id="message">
                            nhận yêu cầu thành công <i class="fas fa-check"></i>
                        </div>
                        <!--end-->
                    </div>
                    <h1 class="text-center" id="countdown" *ngIf="alertRoute" style="color: gray;">
                        Trang sẽ chuyển sau 1 giây
                    </h1>
                    <!-- /.card-header -->
                    <div class="card-body background">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="callout callout-danger">
                                    <!-- <span class="badge badge-pill badge-danger"><i class="fas fa-exclamation-circle"></i> Cảnh báo
                            Cần được sử lý ngay</span> -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><span class="lable-color">Tên: </span>
                                                <strong>{{apartmentMalfunction?.username}}</strong></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><span class="lable-color">Số điện thoại: </span> <strong>
                                                    {{apartmentMalfunction?.phone}}</strong></p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><span class="lable-color">Ngày gửi: </span><strong>
                                                    {{apartmentMalfunction?.date}}</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p><span class="lable-color">Loại sự cố: </span><strong>
                                                    {{apartmentMalfunction?.types}}</strong>
                                            </p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><span class="lable-color">Địa chỉ: </span> <strong>
                                                    {{apartmentMalfunction?.address}}</strong></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p>
                                                <span class="lable-color">Mô tả: </span>
                                                {{apartmentMalfunction?.description}}
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <button class="btn btn-info btn-xs" type="button" (click)="gotoNotification()"><i
                                            class="fas fa-hand-point-left"></i> Quay lại</button>
                                    <button class="btn-xs float-right warning-btn-danger" type="button" (click)="onSubmit();"
                                        [ngClass]="{'btn btn-warning': statusMalfunction == 2 ,'btn btn-danger': statusMalfunction != 2}"
                                        [disabled]="statusMalfunction == 2" (click)="alert()">

                                        <span *ngIf="statusMalfunction !=2; else textbtn">nhận
                                            yêu cầu
                                        </span>
                                    </button>
                                    <ng-template #takerequest>
                                        nhận yêu cầu
                                    </ng-template>
                                    <ng-template #textbtn>
                                        đang làm ...
                                    </ng-template>
                                    <ng-template #done>
                                        Hoàn thành
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>
</div>