<div class="container-fluid">
    <br><br>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box pointer" routerLink="/admin/dashboard/malfunction">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Sự cố</span>
                    <span class="info-box-number">
                        {{malfunction}}
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box pointer" routerLink="/admin/dashboard/employee-management">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users-cog"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Nhân viên</span>
                    <span class="info-box-number">
                        {{employee}}
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3 pointer" routerLink="/admin/dashboard/feedback-management">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Phản hồi</span>
                    <span class="info-box-number">{{feedback}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3 pointer" routerLink="/admin/dashboard/user-management">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cư dân</span>
                    <span class="info-box-number">{{resident}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-pane active">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                               <h6>Bảng sự cố</h6> 
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-head-fixed">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Loại sự cố</th>
                                            <th>Người gửi</th>
                                            <th>Điện thoại</th>
                                            <th>Địa chỉ</th>
                                            <th>Trạng thái</th>
                                            <th>Ngày gửi</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let incident of incidents; let i=index">
                                        <tr>
                                            <td>{{ incident.id }}</td>
                                            <td>{{ incident.types }}</td>
                                            <td>{{ incident.username }}</td>
                                            <td>{{ incident.phone }}</td>
                                            <td>{{ incident.address }}</td>
                                            <td>
                                                <span class="badge badge-danger warning-btn-danger"
                                                    *ngIf="incident.status == 1">
                                                    {{ incident.status == 1 ? 'chờ xử lý' :'' }}
                                                </span>
                                                <span class="badge badge-warning" *ngIf="incident.status == 2">
                                                    {{ incident.status == 2 ? 'đang làm' :'' }}
                                                </span>
                                                <span class="badge badge-success" *ngIf="incident.status == 3">
                                                    {{ incident.status == 3 ? 'hoàn thành' :'' }}
                                                </span>
                                            </td>
                                            <td>{{ incident.date }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>