<aside class="main-sidebar sidebar-dark-primary elevation-4 zindex">
    <!-- Brand Logo -->
    <a class="brand-link text-center" routerLink="/admin/dashboard/home">
        <!-- <img src="../assets/images/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8"> -->
        <span class="brand-text font-weight-light"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex text-center">
            <div class="image">
                <img src="../assets/images/logo.jpg" class="img-circle elevation-2" alt="home">
            </div>
            <div class="info">
                <a class="d-block">Xin Chào:
                    <strong style="color: white;">
                        <i>{{name.username | uppercase}}</i>
                    </strong>
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a class="nav-link" routerLink="/admin/dashboard/home" routerLinkActive="active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Bảng điều khiển
                        </p>
                    </a>
                </li>
                <!--apartment malfunction-->
                <li class="nav-item has-treeview">
                    <a class="nav-link" routerLink="/admin/dashboard/malfunction" routerLinkActive="active">
                        <i class="nav-icon fas fa-tools"> </i>
                        <p>
                            Sự cố
                        </p>
                    </a>
                </li>
                <!--member-->
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>
                            Thành viên
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/dashboard/employee-management"
                                routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nhân viên</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/dashboard/user-management" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cư dân</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--dasboard apartment malfunction-->
                <li class="nav-item has-treeview">
                    <a class="nav-link" routerLink="/admin/dashboard/feedback-management" routerLinkActive="active">
                        <i class="fas fa-comments nav-icon"></i>
                        <p>
                            Phản hồi của cư dân
                        </p>
                    </a>
                </li>
                <!--create notification-->
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link" routerLinkActive="active">
                        <i class="fas fa-bell nav-icon"></i>
                        <p>
                            Thông báo
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/dashboard/create-notification"
                                routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tạo thông báo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/dashboard/notification-management" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý thông báo</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>