<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <strong>Vindhome</strong>
    </div>
    <!-- Default to the left -->
    <strong>2019</strong>
</footer>