<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../assets/images/slider01.jpg" alt="slide" width="600px">
                    </div>
                    <div class="carousel-item active carousel-item-left">
                        <img class="d-block w-100" src="../assets/images/slider.jpg" alt="slide" width="600px">
                    </div>
                    <div class="carousel-item carousel-item-next carousel-item-left">
                        <img class="d-block w-100" src="../assets/images/slider01.jpg" alt="slide" width="600px">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4 text-center">
            <h1 class="font-weight-light">VINDHOME</h1>
            <p>Hỗ trợ giải quyết khắc phục sự cố</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">TỐC ĐỘ, NHANH NHẸN, AN TOÀN</p>
        </div>
    </div>
</div>