<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Sự cố</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">sự cố</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#pending" data-toggle="tab">Đang chờ xử lý <strong>({{pending.length}})</strong> sự cố</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#doing" data-toggle="tab">Đang làm <strong>({{doing.length}})</strong> sự cố</a></li>
                    <li class="nav-item"><a class="nav-link" href="#done" data-toggle="tab">Hoàn thành <strong>({{done.length}})</strong> sự cố</a></li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="pending">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-head-fixed">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Loại sự cố</th>
                                                    <th>Người gửi</th>
                                                    <th>Điện thoại</th>
                                                    <!-- <th>Địa chỉ</th> -->
                                                    <th>Trạng thái</th>
                                                    <th>Ngày gửi</th>
                                                    <th colspan="2"></th>
                                                </tr>
                                            </thead>
                                            <tbody
                                                *ngFor="let apartmentMalfunction of apartmentMalfunctions; let i=index">
                                                <tr *ngIf="apartmentMalfunction.status == 1;">
                                                    <td>{{ apartmentMalfunction.id }}</td>
                                                    <td>{{ apartmentMalfunction.types }}</td>
                                                    <td>{{ apartmentMalfunction.username }}</td>
                                                    <td>{{ apartmentMalfunction.phone }}</td>
                                                    <!-- <td>{{ apartmentMalfunction.address }}</td> -->
                                                    <td>
                                                        <span class="badge badge-danger warning-btn-danger"
                                                            *ngIf="apartmentMalfunction.status == 1">
                                                            {{ apartmentMalfunction.status == 1 ? 'chờ xử lý' :'' }}
                                                        </span>
                                                        <span class="badge badge-warning"
                                                            *ngIf="apartmentMalfunction.status == 2">
                                                            {{ apartmentMalfunction.status == 2 ? 'đang làm' :'' }}
                                                        </span>
                                                        <span class="badge badge-success"
                                                            *ngIf="apartmentMalfunction.status == 3">
                                                            {{ apartmentMalfunction.status == 3 ? 'hoàn thành' :'' }}
                                                        </span>
                                                    </td>
                                                    <td>{{ apartmentMalfunction.date }}</td>
                                                    <td>
                                                        <button class="btn btn-danger btn-xs" type="button"
                                                            (click)="deleteIcidentPopup(apartmentMalfunction.id)">
                                                            xóa
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-info btn-xs" type="button"
                                                            routerLink='{{apartmentMalfunction.id}}/detail'>
                                                            xem...
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="doing">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-head-fixed">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Loại sự cố</th>
                                                    <th>Người gửi</th>
                                                    <th>Điện thoại</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Trạng thái</th>
                                                    <th>Ngày gửi</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody
                                                *ngFor="let apartmentMalfunction of apartmentMalfunctions; let i=index">
                                                <tr *ngIf="apartmentMalfunction.status == 2">
                                                    <td>{{ apartmentMalfunction.id }}</td>
                                                    <td>{{ apartmentMalfunction.types }}</td>
                                                    <td>{{ apartmentMalfunction.username }}</td>
                                                    <td>{{ apartmentMalfunction.phone }}</td>
                                                    <td>{{ apartmentMalfunction.address }}</td>
                                                    <td>
                                                        <span class="badge badge-danger warning-btn-danger"
                                                            *ngIf="apartmentMalfunction.status == 1">
                                                            {{ apartmentMalfunction.status == 1 ? 'chờ xử lý' :'' }}
                                                        </span>
                                                        <span class="badge badge-warning"
                                                            *ngIf="apartmentMalfunction.status == 2">
                                                            {{ apartmentMalfunction.status == 2 ? 'đang làm' :'' }}
                                                        </span>
                                                        <span class="badge badge-success"
                                                            *ngIf="apartmentMalfunction.status == 3">
                                                            {{ apartmentMalfunction.status == 3 ? 'hoàn thành' :'' }}
                                                        </span>
                                                    </td>
                                                    <td>{{ apartmentMalfunction.date }}</td>
                                                    <td>
                                                        <button class="btn btn-info btn-xs" type="button"
                                                            routerLink='{{apartmentMalfunction.id}}/detail'>
                                                            xem...
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="done">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">

                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-head-fixed">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Loại sự cố</th>
                                                    <th>Người gửi</th>
                                                    <th>Điện thoại</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Trạng thái</th>
                                                    <th>Ngày gửi</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody
                                                *ngFor="let apartmentMalfunction of apartmentMalfunctions; let i=index">
                                                <tr *ngIf="apartmentMalfunction.status == 3">
                                                    <td>{{ apartmentMalfunction.id }}</td>
                                                    <td>{{ apartmentMalfunction.types }}</td>
                                                    <td>{{ apartmentMalfunction.username }}</td>
                                                    <td>{{ apartmentMalfunction.phone }}</td>
                                                    <td>{{ apartmentMalfunction.address }}</td>
                                                    <td>
                                                        <span class="badge badge-danger warning-btn-danger"
                                                            *ngIf="apartmentMalfunction.status == 1">
                                                            {{ apartmentMalfunction.status == 1 ? 'chờ xử lý' :'' }}
                                                        </span>
                                                        <span class="badge badge-warning"
                                                            *ngIf="apartmentMalfunction.status == 2">
                                                            {{ apartmentMalfunction.status == 2 ? 'đang làm' :'' }}
                                                        </span>
                                                        <span class="badge badge-success"
                                                            *ngIf="apartmentMalfunction.status == 3">
                                                            {{ apartmentMalfunction.status == 3 ? 'hoàn thành' :'' }}
                                                        </span>
                                                    </td>
                                                    <td>{{ apartmentMalfunction.date }}</td>
                                                    <td>
                                                        <button class="btn btn-info btn-xs" type="button"
                                                            routerLink='{{apartmentMalfunction.id}}/detail'>
                                                            xem...
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
</div>