<body class="hold-transition layout-top-nav" *ngIf="role">
    <div class="wrapper">
        <!-- Navbar -->
        <app-user-navbar></app-user-navbar>
        <!-- /.navbar -->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->

            <router-outlet></router-outlet>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <app-user-footer></app-user-footer>
    </div>
    <!-- ./wrapper -->

</body>