<nav class="main-header navbar navbar-expand-lg navbar-light bg-nav sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/employee/dashboard/notifications">
      <img src="../assets/images/logo.jpg" alt="home" class="brand-image img-circle elevation-3" style="opacity: .8">
    </a>

    <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link a-color" routerLink="/employee/dashboard/notifications">SỰ CỐ</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link a-color" routerLink="/employee/dashboard/profile" title="Cá nhân">THÀNH TÍCH</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link a-color" routerLink="/employee/dashboard/incident-management" title="yêu cầu đã nhận">SỰ CỐ
            ĐÃ NHẬN</a>
        </li>
      </ul>
    </div>
    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
          <i class="far fa-bell a-color"></i>
          <span class="badge badge-warning navbar-badge">{{dataNotifications?.length}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">{{dataNotifications?.length}} Thông báo</span>
          <div class="dropdown-divider"></div>
          <div class="dropdown-divider"></div>
          <div *ngFor="let data of dataNotifications">
            <a class="dropdown-item" routerLink="notify/{{data.id}}/detail">
              {{data.title.slice(0,35)}}...
            </a>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item" (click)="logout();">
        <a class="nav-link a-color"> <i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
      </li>
    </ul>
  </div>
</nav>