.bg-nav {
    background: #7C7D82;
    /* background: #4267B2; */
}

.a-color {
    color: antiquewhite !important;
    cursor: pointer;
}

.active {
    background-color: #494E53;
    border-radius: 5px;
}
li:hover {
    background: #494E53;
}