<h1 mat-dialog-title>Vui lòng xác nhận xóa</h1>
<div mat-dialog-content>
</div>
<div mat-dialog-actions>
    <div class="row">
        <div class="col-lg-12" style="text-align: center !important;">
            <button mat-button (click)="onNoClick()">Quay lại</button>
            <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn btn-danger" (click)="deleteNotification()">xác
                nhận
            </button>
        </div>
    </div>
    <br>
</div>

<br>