<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Chỉnh sửa thông báo</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chỉnh sửa thông báo</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container-fluid">
    <form [formGroup]="notificationFormEdit">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary posi-parrent">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-tags"> </i>Chỉnh sửa thông báo</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <!--notification-->
                    <div class="alert alert-success position-child" id="message">
                        Chỉnh sửa thành công <i class="fas fa-check"></i>
                    </div>
                    <!--end-->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="title">Tiêu đề</label>
                            <input type="text" formControlName='title' class="form-control"
                                [ngClass]="{'is-invalid': title.errors && submitted}">
                            <div *ngIf="title.errors" class="invalid-feedback">
                                <div *ngIf="title.hasError('required')">
                                    Bạn chưa nhập tiêu đề
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Gửi đến</label>
                            <select class="form-control custom-select" formControlName='status'
                                [ngClass]="{'is-invalid': status.errors && submitted}">
                                <option selected="" disabled="">vui lòng chọn </option>
                                <option *ngFor="let item of selectLists" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div *ngIf="status.errors" class="invalid-feedback">
                                <div *ngIf="status.hasError('required')">
                                    Bạn chưa chọn người gửi
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Nội dung thông báo</label>
                            <ckeditor [editor]="Editor"
                                [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'inserttable', 'undo','redo' ] }"
                                tagName="textarea" formControlName='content'
                                [ngClass]="{'is-invalid': content.errors && submitted}" data="">
                            </ckeditor>
                            <div *ngIf="notificationFormEdit.status == 'INVALID' && submitted" style="color: red;">
                                Bạn chưa nhập đủ thông tin
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default" routerLink="/admin/dashboard/notification-management"
                                type="button"><i class="fas fa-hand-point-left"></i> Quay lại</button>
                            <button class="btn btn-danger float-right" type="button" (click)="onSubmit()">Chỉnh sửa
                                <i class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </form>
</div>