<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Chỉnh sửa cư dân</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">chỉnh sửa Cư dân</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-body">
                    <form [formGroup]="userForm">
                        <div class="row">
                            <div class="col-md-12 position-parent">
                                <div class="alert alert-success position-child" id="message">
                                    Chỉnh sửa thành công <i class="fas fa-check"></i>
                                </div>
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-tags"> </i>
                                            <strong> Chỉnh sửa người dùng</strong>
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group hide-input">
                                                    <label for="name">Tên</label>
                                                    <input type="text" class="form-control" formControlName="firstname"
                                                        [ngClass]="{'is-invalid': submitted && firstname.errors}"
                                                        value="{{users?.firstname}}">
                                                    <div *ngIf="submitted && firstname.errors" class="invalid-feedback">
                                                        <div *ngIf="firstname.hasError('required')">
                                                            Bạn chưu nhập tên
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group hide-input">
                                                    <label for="name">Họ</label>
                                                    <input type="text" class="form-control" formControlName="lastname"
                                                        [ngClass]="{'is-invalid': submitted && lastname.errors}"
                                                        value="{{users?.lastname}}">
                                                    <div *ngIf="submitted && lastname.errors" class="invalid-feedback">
                                                        <div *ngIf="lastname.hasError('required')">
                                                            Bạn chưa nhập họ
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group hide-input">
                                                    <label for="phone">Số điện thoại</label>
                                                    <input type="number" class="form-control" formControlName="phone"
                                                        [ngClass]="{'is-invalid': submitted && phone.errors}"
                                                        value="{{users?.phone}}">
                                                    <div *ngIf="submitted && phone.errors" class="invalid-feedback">
                                                        <div *ngIf="phone.hasError('required')">
                                                            Bạn chưa nhập số điện thoại
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group hide-input">
                                                    <label for="address">Địa chỉ</label>
                                                    <input type="text" class="form-control" formControlName="address"
                                                        [ngClass]="{'is-invalid': submitted && address.errors}"
                                                        value="{{users?.address}}">
                                                    <div *ngIf="submitted && address.errors" class="invalid-feedback">
                                                        <div *ngIf="address.hasError('required')">
                                                            Bạn chưa nhập địa chỉ
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group hide-input">
                                                    <label for="email">Địa chỉ email</label>
                                                    <input type="email" class="form-control" formControlName="email"
                                                        [ngClass]="{'is-invalid': submitted && email.errors}"
                                                        value="{{users?.email}}">
                                                    <div *ngIf="submitted && email.errors" class="invalid-feedback">
                                                        <div *ngIf="email.hasError('required')">
                                                            Bạn chưa nhập địa chỉ email
                                                        </div>
                                                        <div *ngIf="email.hasError('email')">
                                                            Địa chỉ email không hợp lệ
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group hide-input">
                                                    <label for="username">Tài khoản</label>
                                                    <input type="text" class="form-control" formControlName="username"
                                                        [ngClass]="{'is-invalid': submitted && username.errors}"
                                                        value="{{users?.username}}">
                                                    <div *ngIf="submitted && username.errors" class="invalid-feedback">
                                                        <div *ngIf="username.hasError('required')">
                                                            Bạn chưa nhập tài khoản
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group hide-input">
                                                    <label for="pwd">Mật khẩu</label>
                                                    <input type="text" class="form-control" formControlName="password"
                                                        [ngClass]="{'is-invalid': submitted && password.errors}"
                                                        value="{{users?.password}}">
                                                    <div *ngIf="submitted && password.errors" class="invalid-feedback">
                                                        <div *ngIf="password.hasError('required')">
                                                            Bạn chưa nhập mật khẩu
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group hide-input">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-default" routerLink="/admin/dashboard/user-management" type="button"><i class="fas fa-hand-point-left"></i> Quay lại</button>
                                <button class="btn btn-danger float-right" (click)="editAcount();" type="button">
                                    lưu chỉnh sửa <i class="far fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>