<br>
<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn bullhorn-color"> </i>
                        <strong> Danh sách sự cố</strong>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body background">
                    <div class="row" *ngIf="apartmentMalfunctions">
                        <div class="col-md-3" *ngFor="let data of apartmentMalfunctions" [ngClass]="{'hide-when-done': data.status == 3}">
                            <div class="callout callout-danger"
                                [ngClass]="{'callout-warning': data.status == 2 , 'callout-success': data.status == 3}">
                                <p><span class="lable-color">Tên: </span> <strong>{{data.username}}</strong></p>
                                <p><span class="lable-color">Số điện thoại: </span> <strong> {{data.phone}}</strong></p>
                                <p><span class="lable-color">Ngày gửi: </span><strong> {{data.date}}</strong></p>
                                <button class="btn btn-info btn-xs float-right warning-btn" type="button"
                                    [disabled]='data.status == 2' routerLink='{{data.id}}/detail'
                                    [ngClass]="{'btn btn-warning': data.status == 2}">
                                    <a class="a-link" *ngIf="data.status == 1; else status">Chi tiết...</a>
                                    <ng-template #status>
                                        <a class="a-link">
                                            đang làm ...
                                        </a>
                                    </ng-template>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="length <=0 " class="jumbotron text-center">
                        <h1>Không có sự cố</h1>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>