.background {
    background: #F4F6F9;
}

.bullhorn-color {
    color: #BD2130;
}

/* .callout-danger {
    font-family: Verdana, Tahoma, sans-serif;
    animation: animate 2s linear infinite;
} */

/* @keyframes animate {
    0% {
        border-left: 3px solid #8B0000;
    }
    30% {
        border-left: 5px solid #CD0000;
    }
    60% {
        border-left: 8px solid #EE0000
    }
    100% {
        border-left: 12px solid #FF0000
    }
} */

.warning-btn {
    font-family: Verdana, Tahoma, sans-serif;
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    1000% {
        box-shadow: 0 0 0 0 #E0EEEE, 0 0 0 0 #F0FFFF;
    }
    80% {
        box-shadow: 0 0 0 10px #E0EEEE, 0 0 0 0 #F0FFFF;
    }
    40% {
        box-shadow: 0 0 0 10px #E0EEEE, 0 0 0 13px #F0F8FF;
    }
    0% {
        box-shadow: 0 0 0 0 #E0EEEE, 0 0 0 13px #F0F8FF;
    }
}

.lable-color {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

/* .a-link {
    text-decoration: none;
} */

.hide-when-done {
    display: none;
}