<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Chi tiết thông báo</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chi tiết thông báo</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Chi tiết thông báo
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5><strong>Tiêu đề</strong></h5>
                        <p> {{dataNotification?.title}}</p>
                        <h5><strong>Ngày gửi</strong></h5>
                        <p> {{dataNotification?.date}}</p>
                        <h5><strong>Gửi đến</strong></h5>
                        <p> {{dataNotification?.status == 1 ? 'Tất cả' : dataNotification?.status == 2 ? 'Cư dân' : dataNotification?.status == 3 ? 'Nhân viên':''}}
                        </p>
                        <h5><strong>Nội dung</strong></h5>
                        <div [innerHTML]="dataNotification?.content"></div>

                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="float-left">
                        <a class="btn btn-sm btn btn-default color-btn"
                            routerLink="/admin/dashboard/notification-management">
                            <i class="fas fa-hand-point-left"></i>
                            Quay lại
                        </a>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-sm btn btn-danger color-btn" (click)="deleteNotificationPopup(dataNotification.id)">
                            <i class="fas fa-trash-alt"></i>
                            xóa
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>