<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Nhân viên</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Nhân viên</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-info float-right" type="button" (click)="openDialog();">Tạo mới <i
                                class="fas fa-plus"></i></button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="card-tools float-right">
                            <div class="input-group input-group-sm" style="width: 250px;padding-bottom: 5px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Tìm kiếm theo tên" [(ngModel)]="name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default" (click)="searchByName();">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">ID</th>
                                    <th>Tên</th>
                                    <th>email</th>
                                    <th>Số Điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th colspan="2" class="text-center">Chức năng</th>
                                </tr>
                                <tr class="text-center" *ngIf="searchisEmpty">
                                    <td colspan="6">
                                        <h3 class="jumbotron">Nhân viên không tồn tại</h3>
                                    </td>
                                </tr>
                            </thead>
                            <tbody *ngIf="employees">
                                <tr *ngFor="let employee of employees; let i =index;">
                                    <td>{{employee.id}}</td>
                                    <td>{{employee.lastname}} {{employee.firstname}}</td>
                                    <td>{{employee.email}}</td>
                                    <td>{{employee.phone}} </td>
                                    <td>{{employee.address}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning text-center btn-xs"
                                            routerLink='{{employee.id}}/edit'>
                                            sửa
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger text-center btn-xs"
                                            (click)="deleteEmployeePopup(employee.id);">
                                            xóa
                                            <i class="fas fa-user-minus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</section>