.mat-content {
    z-index: 10000 !important;
}

.position-parent {
    position: relative;
}

.position-child {
    position: absolute;
    bottom: 0px;
    right: -40px;
    z-index: 100;
    display: none;
}
.mat-dialog-content {
    max-height: 90vh;
}