<div mat-dialog-content class="mat-content">
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-md-12 position-parent">
                <!--notification-->
                <div class="alert alert-success position-child" id="message">
                    Tạo thành công <i class="fas fa-check"></i>
                </div>
                <!--end-->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-tags"> </i>
                            <strong> Tạo mới người dùng</strong>
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group hide-input">
                                    <label for="name">Tên</label>
                                    <input type="text" class="form-control" formControlName="firstname"
                                        [ngClass]="{'is-invalid': submitted && firstname.errors}">
                                    <div *ngIf="submitted && firstname.errors" class="invalid-feedback">
                                        <div *ngIf="firstname.hasError('required')">
                                            Bạn chưu nhập tên
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hide-input">
                                    <label for="name">Họ</label>
                                    <input type="text" class="form-control" formControlName="lastname"
                                        [ngClass]="{'is-invalid': submitted && lastname.errors}">
                                    <div *ngIf="submitted && lastname.errors" class="invalid-feedback">
                                        <div *ngIf="lastname.hasError('required')">
                                            Bạn chưa nhập họ
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hide-input">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="number" class="form-control" formControlName="phone"
                                        [ngClass]="{'is-invalid': submitted && phone.errors}">
                                    <div *ngIf="submitted && phone.errors" class="invalid-feedback">
                                        <div *ngIf="phone.hasError('required')">
                                            Bạn chưa nhập số điện thoại
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hide-input">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" formControlName="address"
                                    [ngClass]="{'is-invalid': submitted && address.errors}">
                                    <div *ngIf="submitted && address.errors" class="invalid-feedback">
                                        <div *ngIf="address.hasError('required')">
                                            Bạn chưa nhập địa chỉ
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group hide-input">
                                    <label for="email">Địa chỉ email</label>
                                    <input type="email" class="form-control" formControlName="email"
                                        [ngClass]="{'is-invalid': submitted && email.errors}">
                                    <div *ngIf="submitted && email.errors" class="invalid-feedback">
                                        <div *ngIf="email.hasError('required')">
                                            Bạn chưa nhập địa chỉ email
                                        </div>
                                        <div *ngIf="email.hasError('email')">
                                            Địa chỉ email không hợp lệ
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hide-input">
                                    <label for="username">Tài khoản</label>
                                    <input type="text" class="form-control" formControlName="username"
                                        [ngClass]="{'is-invalid': submitted && username.errors}">
                                    <div *ngIf="submitted && username.errors" class="invalid-feedback">
                                        <div *ngIf="username.hasError('required')">
                                            Bạn chưa nhập tài khoản
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group hide-input">
                                    <label for="pwd">Mật khẩu</label>
                                    <input type="text" class="form-control" formControlName="password"
                                    [ngClass]="{'is-invalid': submitted && password.errors}">
                                    <div *ngIf="submitted && password.errors" class="invalid-feedback">
                                            <div *ngIf="password.hasError('required')">
                                                Bạn chưa nhập mật khẩu
                                            </div>
                                        </div>
                                </div>
                                <div class="form-group hide-input">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-lg-12">
                <button mat-button (click)="onNoClick()" type="button">Quay lại</button>
                <button mat-button (click)="addAcount()" cdkFocusInitial class="btn btn-danger float-right"
                    type="button">
                    Tạo mới <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>