<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Chi tiết Phản hồi</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chi tiết phản hồi</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                <div class="col-md-12 ">
                    <div class="card bg-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="lead"><b>{{feedback?.name}}</b></h2>
                                    <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="lager">
                                            <span class="fa-li">
                                                <i class="fas fa-lg fa-building"></i>
                                            </span> Address: {{feedback?.address}}
                                        </li>
                                        <li class="lager">
                                            <span class="fa-li">
                                                <i class="fas fa-lg fa-phone"></i>
                                            </span>
                                            Phone #: {{feedback?.phone}}
                                        </li>
                                        <li class="lager">
                                            <span class="fa-li">
                                                <i class="fas fa-newspaper"></i>
                                            </span>
                                            Nội dung: {{feedback?.content}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-left">
                                <a class="btn btn-sm btn btn-default color-btn"
                                    routerLink="/admin/dashboard/feedback-management">
                                    <i class="fas fa-hand-point-left"></i>
                                    Quay lại
                                </a>
                            </div>
                            <div class="float-right">
                                <a class="btn btn-sm btn btn-danger color-btn"
                                    (click)="deleteFeebackPopup(feedback.id)">
                                    <i class="fas fa-trash-alt"></i>
                                    xóa
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->
</section>