<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Quản lý thông báo</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quản lý thông báo</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="card-tools float-right">
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">ID</th>
                                    <th>Tiêu đề</th>
                                    <th>Gửi đến</th>
                                    <th>Nội dung</th>
                                    <th colspan="2" class="text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="notifications">
                                <tr *ngFor="let notification of notifications;">
                                    <td>{{notification.id}}</td>
                                    <td>{{notification.title}}</td>
                                    <td>
                                        <span class="badge badge-info"
                                            *ngIf="notification.status == 1">
                                            {{ notification.status == 1 ? 'Tất cả' :'' }}
                                        </span>
                                        <span class="badge badge-warning" *ngIf="notification.status == 2">
                                            {{ notification.status == 2 ? 'Cư dân' :'' }}
                                        </span>
                                        <span class="badge badge-success" *ngIf="notification.status == 3">
                                            {{ notification.status == 3 ? 'Nhân viên' :'' }}
                                        </span>
                                    </td>
                                    <td [innerHTML]="notification.content.slice(0,50)+'...'"></td>
                                    <td>
                                        <button type="button" class="btn btn-warning text-center btn-xs"
                                            routerLink='{{notification.id}}/edit'>
                                            sửa
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info text-center btn-xs" routerLink='{{notification.id}}/detail'>
                                            chi tiết...
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.col -->
    </div>
</section>