<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Chi tiết sự cố</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Trang chủ</a></li>
                    <li class="breadcrumb-item active">Chi tiết sự cố</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Chi tiết sự cố
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="callout callout-info">
                        <div class="row">
                            <div class="col-md-6 ">
                                <h3>Cư dân</h3>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Tên: </span>
                                        <strong>{{detail?.username}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Loại sự cố: </span>
                                        <strong>{{detail?.types}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Địa chỉ: </span>
                                        <strong>{{detail?.address}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Số điện thoại: </span>
                                        <strong>{{detail?.phone}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Ngày gửi: </span>
                                        <strong>{{detail?.date}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Mô tả: </span>
                                        <strong>{{detail?.description}}</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <h3>Nhân viên</h3>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Tên: </span>
                                        <strong>{{employee?.lastname}} {{employee?.firstname}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Địa chỉ: </span>
                                        <strong>{{employee?.address}}</strong>
                                    </p>
                                </div>
                                <div class="col-md-12">
                                    <p><span class="lable-color">Số điện thoại: </span>
                                        <strong>{{employee?.phone}}</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info btn-sm" routerLink="/admin/dashboard/malfunction">
                        <i class="fas fa-hand-point-left"></i> Quay lại
                    </button>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>