<nav class="main-header navbar navbar-expand navbar-white navbar-light zindex">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block" routerLinkActive="active">
      <a class="nav-link" routerLink="home">Trang chủ</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
      <a class="nav-link" (click)="logout()">Đăng xuất <i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</nav>