<br><br>
<div class="container">
    <!-- Main content -->
    <section class="content">
        <form [formGroup]="incidentNoticeform">
            <div class="row">
                <div class="col-md-9 position-parent">
                    <!--notification-->
                    <div class="alert alert-success position-child" id="message">
                        Gửi thành công <i class="fas fa-check"></i>
                    </div>
                    <!--end-->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-tags"> </i>
                                <strong> Cung cấp thông tin sự cố</strong>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                    data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group" formArrayName="types">
                                <button type="button" (click)="addtRow()" [disabled]="types.length === 3"
                                    class="btn btn-info btn-sm">
                                    <strong>
                                        Thên sự cố
                                        <i class="fas fa-plus"></i>
                                    </strong>
                                </button>
                                <span *ngIf="types.length == 3" class="span-lalb">Tối đa 3 sự cố</span>
                                <div *ngFor="let type of types.controls; let i=index;">
                                    <!-- The repeated alias template -->
                                    <label for="type">chọn sự cố</label>
                                    <select class="form-control custom-select" [formControlName]="i"
                                        [ngClass]="{'is-invalid': submitted && types.errors}">
                                        <option *ngFor="let selectList of selectLists" [value]="selectList.name">
                                            {{selectList.name}}
                                        </option>
                                    </select>
                                    <button type="button" class="btn btn-danger btn-xs float-right"
                                        (click)="deleteRow(i)" [disabled]="types.length == 1">
                                        xóa sự cố
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <div *ngIf="submitted && types.errors" class="invalid-feedback">
                                        <div *ngIf="types.hasError('required')">
                                            Bạn chưa chọn sự cố
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hide-input">
                                <label for="name">Tên</label>
                                <input type="text" class="form-control" formControlName="username" value="{{username}}">
                            </div>
                            <div class="form-group hide-input">
                                <label for="phone">Số điện thoại</label>
                                <input type="number" class="form-control" formControlName="phone" value="{{phone}}">
                            </div>
                            <div class="form-group hide-input">
                                <label for="address">Địa chỉ</label>
                                <input type="text" class="form-control" formControlName="address" value="{{address}}">
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả sự cố</label>
                                <textarea class="form-control" rows="4" formControlName="description" maxlength="500"
                                    [ngClass]="{'is-invalid': submitted && description.errors}">
                                </textarea>
                                <span class="lable-color">{{description.value?.length || 0}}/tối đa 500 ký tự</span>
                                <div *ngIf="submitted && description.errors" class="invalid-feedback">
                                    <div *ngIf="description.hasError('required')">
                                        Bạn chưa nhập mô tả
                                    </div>
                                </div>
                            </div>
                            <!-- <p>
                                Form Status: {{ incidentNoticeform.status }}
                                value {{incidentNoticeform.value | json}}
                            </p> -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-light" type="button" (click)="resetForm();">Hủy</button>
                            <button type="button" (click)="onSubmit();" class="btn btn-success float-right">
                                Gửi thông báo <i class="far fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>