.mat-width>* {
    width: 100%;
}

.mat-width {
    display: flex;
    flex-direction: column;
}

.hide-input {
    display: none;
}

.span-lalb {
    font-size: 11px;
    color: gray;
}

.position-parent {
    position: relative;
}

.position-child {
    position: absolute;
    bottom: 0px;
    right: -40px;
    z-index: 100;
    display: none;
}
.opt-color{
    color: gray;
    font-size: 11px;
}
.lable-color {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}