<body class="hold-transition layout-top-nav" *ngIf="role">
    <div class="wrapper">
        <!-- Navbar -->
        <app-employee-navbar></app-employee-navbar>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->

        <!-- Content Wrapper. Contains page content -->

        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <app-employee-footer></app-employee-footer>
        <!-- end Footer -->

    </div>
    <!-- ./wrapper -->
</body>