<br><br>
<section class="content">
    <div class="container-fluid">
        <!-- Timelime example  -->
        <div class="row">
            <div class="col-md-12" *ngFor="let list of lists">
                <!-- The time line -->
                <div class="timeline" *ngIf="list.userid == cerrentUser && list.status == 3">
                    <!-- timeline time label -->
                    <div class="time-label">
                        <span class="bg-green">{{list.date}}</span>
                    </div>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>
                        <div class="timeline-item">
                            <span class="time"><i class="fas fa-clock"></i> {{list.date}}</span>
                            <h3 class="timeline-header">Sự cố</h3>
                            <div class="timeline-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <span class="lable-color">Sự cố :</span>
                                            {{list.types}}
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <span class="lable-color"> thời gian sự cố</span>
                                            {{list.date}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i class="fas fa-clock bg-gray"></i>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.timeline -->

</section>