<br>
<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn bullhorn-color"> </i>
                        <strong> Sự cố đã nhận</strong>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body background">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let data of apartmentMalfunctions" [ngClass]="{'hide-when-done': data.status == 3}">
                            <div class="callout callout-danger" *ngIf="currentEmployee == data.employeeid">
                                <span class="badge badge-pill badge-danger"><i class="fas fa-exclamation-circle"></i>
                                    Cảnh báo
                                    Cần được sử lý ngay</span>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p><span class="lable-color">Tên: </span>
                                            <strong>{{data?.username}}</strong></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><span class="lable-color">Số điện thoại: </span> <strong>
                                                {{data?.phone}}</strong></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><span class="lable-color">Ngày gửi: </span><strong>
                                                {{data?.date}}</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p><span class="lable-color">Loại sự cố: </span><strong>
                                                {{data?.types}}</strong>
                                        </p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p><span class="lable-color">Địa chỉ: </span> <strong>
                                                {{data?.address}}</strong></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>
                                            <span class="lable-color">Mô tả: </span>
                                            {{data?.description}}
                                        </p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>