<br><br>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Chi tiết thông báo
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5><strong>Tiêu đề</strong></h5>
                        <p> {{dataNotification?.title}}</p>
                        <h5><strong>Ngày gửi</strong></h5>
                        <p> {{dataNotification?.date}}</p>
                        <h5><strong>Nội dung</strong></h5>
                        <div [innerHTML]="dataNotification?.content"></div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>