<body class="hold-transition sidebar-mini" *ngIf="role">
  <div class="wrapper">
    <!-- Navbar -->
    <app-admin-navbar></app-admin-navbar>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <app-admin-sidebar></app-admin-sidebar>

    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <app-admin-footer></app-admin-footer>
    <!-- end Footer -->

  </div>
  <!-- ./wrapper -->
</body>