<br><br>

<div class="container">
    <!-- Main content -->
    <section class="content">
        <form [formGroup]="feedbackForm">
            <div class="row">
                <div class="col-md-12" style="position:relative">
                    <!--notification-->
                    <div class="alert alert-success position-child" id="message">
                        Gửi thành công <i class="fas fa-check"></i>
                    </div>
                    <!--end-->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-tags"> </i>
                                <strong> Tạo feedback</strong>
                            </h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                    data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group hide-input">
                                <label for="phone">Email</label>
                                <input type="email" class="form-control" formControlName="email" value="{{email}}">
                            </div>
                            <div class="form-group hide-input">
                                <label for="phone">Số điện thoại</label>
                                <input type="number" class="form-control" formControlName="phone" value="{{phone}}">
                            </div>
                            <div class="form-group">
                                <label for="description">Nội dung feedback</label>
                                <textarea class="form-control" rows="4" formControlName="content"
                                    [ngClass]="{'is-invalid': submitted && content.errors}" maxlength="500">
                                </textarea>
                                <span class="lable-color">{{content.value?.length || 0}}/tối đa 500 ký tự</span>
                                <div *ngIf="submitted && content.errors" class="invalid-feedback">
                                    <div *ngIf="content.hasError('required')">
                                        Bạn chưa nhập nội dung
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-light " type="button" (click)="resetForm()">Hủy</button>
                            <button class="btn btn-success float-right" (click)="onSubmit();">
                                Gửi feedback <i class="far fa-paper-plane"></i>
                            </button>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
</div>