.hide-input {
    display: none;
}

.lable-color {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

.position-child {
    position: absolute;
    bottom: 0px;
    left: -40px;
    z-index: 100;
    display: none;
}