.bg-nav {
    /* background: #7C7D82; */
    background: #4267B2;
}

.a-color {
    color: antiquewhite !important;
    cursor: pointer;
}

.active {
    background-color: #494E53;
    border-radius: 5px;
}

/* .pulse {
    font-family: Verdana, Tahoma, sans-serif;
    animation: animate 2s linear infinite;
} */

/* @keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, .7), 0 0 0 0 rgba(255, 109, 74, .7);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, .7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
    }
} */

li a:hover {
    cursor: pointer;
}

li:hover {
    background: gray;
}

/* @media only screen and (min-width: 1025px) {
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        flex-basis: auto;
    }
} */