<br><br>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                        </div>

                        <h3 class="profile-username text-center">{{currentEmpl.lastname | uppercase}}
                            {{currentEmpl.firstname | uppercase}}</h3>

                        <p class="text-muted text-center">Nhân viên</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Tổng sự cố đã hoàn thành</b> <a class="float-right">{{leng}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Số điện thoại</b> <a class="float-right">{{currentEmpl.phone}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Địa chỉ</b> <a class="float-right">{{currentEmpl.address}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Địa chỉ email</b> <a class="float-right">{{currentEmpl.email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h6>Sự cố đã hoàn thành</h6>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" *ngFor="let data of datas">
                            <div class="row" *ngIf="data.employeeid == currentEmpl.id && data.status ==3">
                                <div class="col-md-6">
                                    <p><span class="lable-color">Loại sự cố: </span>
                                        <strong>{{data.types}}</strong></p>
                                </div>
                                <div class="col-md-6">
                                    <p><span class="lable-color">Địa chỉ căn hộ sửa chữa: </span> <strong>
                                            {{data.address}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="leng == 0" class="text-center">
                            <h3 class="jumbotron">
                                Chưa hoàn thành sự cố nào
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>