<br><br>
<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn bullhorn-color"> </i>
                        <strong> Sự cố đã gửi</strong>
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body background">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let data of apartmentmalfunctions">
                            <div class="callout callout-danger" *ngIf="idUser == data.userid"
                                [ngClass]="{'callout-warning': data.status == 2, 'callout-success, hide-when-done': data.status == 3}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p><span class="lable-color">Tên sự cố: </span>
                                            <strong>{{data.types}}</strong></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <span class="lable-color">Trạng thái: </span>
                                            <span class="badge badge-danger" *ngIf="data.status == 1">
                                                {{ data.status == 1 ? 'chờ xử lý' :'' }}
                                            </span>
                                            <span class="badge badge-warning lable" *ngIf="data.status == 2">
                                                {{ data.status == 2 ? 'đang làm' :'' }}
                                            </span>
                                            <span class="badge badge-success" *ngIf="data.status == 3">
                                                {{ data.status == 3 ? 'hoàn thành' :'' }}
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p><span class="lable-color">Ngày gửi: </span><strong>
                                                {{data.date}}</strong></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5>
                                            nhân viên nhận yêu cầu
                                        </h5>
                                        <div class="span-lalb" *ngIf="data.employeeid === -1; else doing">
                                            chưa có nhân viên nhận yêu cầu
                                            <!-- <div class="spinner-border text-danger size-spinner"
                                                *ngIf="data.employeeid === -1">
                                            </div> -->
                                        </div>
                                        <ng-template #doing>
                                            <div class="row" *ngFor="let empl of employees">
                                                <div class="col-md-12" *ngIf="empl.id == data.employeeid">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p>
                                                                <span class="lable-color"> Tên nhân viên: </span>
                                                                {{empl.lastname}} {{empl.firstname}}
                                                            </p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p>
                                                                <span class="lable-color"> Số điện thoại: </span>
                                                                {{empl.phone}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="float-right">
                                                        <button class="btn btn-warning btn-sm" type="button"
                                                            (click)="openDialog(data.id)">
                                                            Xác nhận hoàn thành sự cố
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
<!-- 
<ng-template #wait>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</ng-template> -->
