.span-lalb {
    font-size: 11px;
    color: gray;
}

.spinner-border {
    width: 15px !important;
    height: 15px !important;
}

.lable {
    font-family: Verdana, Tahoma, sans-serif;
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        box-shadow: 0 0 0 0 #FFC107, 0 0 0 0 #FFC107;
    }
    40% {
        box-shadow: 0 0 0 6px #FFF8E1, 0 0 0 0 #FFF8E1;
    }
    80% {
        box-shadow: 0 0 0 6px #FFF8E1, 0 0 0 7px #FFF8E1;
    }
    100% {
        box-shadow: 0 0 0 0 #FFF8E1, 0 0 0 7px #FFF8E1;
    }
}

.lable-color {
    color: gray;
    font-weight: bold;
    font-size: 12px;
}

.hide-when-done {
    display: none;
}


/* ul {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    width: 7px;
    height: 7px;
    background: #cea321;
    margin: 0 1px;
    border-radius: 50%;
    animation: animatewait 1.4s linear infinite;
}

@keyframes animatewait {
    0% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

ul li:nth-child(1) {
    animation-delay: 0;
}

ul li:nth-child(2) {
    animation-delay: -1.2s;
}

ul li:nth-child(3) {
    animation-delay: -1s;
}

ul li:nth-child(4) {
    animation-delay: -.8s;
}

ul li:nth-child(5) {
    animation-delay: -.6s;
} */